// colors
$color-black-1: #000000;
// $color-black-2: #1e1e1e;
// $color-black-3: #3c3c3c;
$color-whilte-1: #ffffff;
// $color-whilte-2: #eaeaea;
// $color-whilte-3: #f8f7f7;
$color-gray-1: #868585;
// $color-gray-2: #6c6c6c;
// $color-gray-3: #a4a4a4;
$color-brown-1: #ada074;

// fonts
// $font-lato: "Lato";
// $font-myriad: "Myriad Pro";

// default font
$size-def: 14px;
$weight-def: 400;
$line-def: 26px;
$color-def: $color-black-1;
